
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 1em;
    border: solid #0B2545;
    box-sizing: border-box;
}

.nav-item {
    padding: 0em 1em;
    height: 3em;
    font-size: 1em;
    line-height: 3em;
    border-radius: 25px;
    background-color: yellow;
}

.nav-item a:link {
    text-decoration: none;
    color: #0B2545;
}

.nav-item a:visited {
    text-decoration: none;
    color: #0B2545;
}

.nav-item a:active {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: #134074;
}

body{
    background-color:black;
    color:crimson;
}




.footerItem a:link {
    text-decoration: none;
    color: #0B2545;
}

.footerItem a:visited {
    text-decoration: none;
    color: #0B2545;
}

.footerItem a:active {
    text-decoration: none;
}

.footerItema:hover {
    text-decoration: none;
    color: #134074;
}

.footerNav {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color:red;
    color: black;
}

.logo {
    width: 90px;
}


footer {
    display: flex;
    padding: 10px 5px;
    background-color: #8DA9C4;
    color: #0B2545;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: solid;
}

.destineeisthebest{
    color: red;
    font-family: 'Sacramento', cursive;
}
.motto{
       color:red;
    font-family: 'Sacramento', cursive;
}


